#brand-name{
 	margin-top: 35px;
 	margin-bottom: 30px;
 	font-size: 25px;
	padding-right: 20%;
	text-decoration: bold;
}
#navbar a{
	text-decoration: none;
	padding: 10px;
	color: white;
}


#navbar a:hover{
	color:black;
	font-size: 35px;
}

#navbar{
	background-color: #4e4e4c;
	color: white;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;

}

#navbar ul{
	padding: 0;
	display:inline;
}

#navbar li{
	list-style: none;
	display: inline;
	font-size: 20px;
}

	.container{
	width: 80%;
	margin:auto;
	overflow: hidden;
}
.links{
	margin-left:30%;
}
.links a{
	text-decoration: none;
	padding: 5px;
	color: blue;

}
footer{
	background-color: #4e4e4c;
	padding-top: 7.5px;
	padding-bottom: 20px;
	margin-top: 25px;
	position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}